.hero-content {
    text-align: center;
    margin: 0 auto;
}

.hero-image {
    display: block;
    margin: 40px auto;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-title {
    margin: 2% 1%;
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.cta-buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cta-buttons .btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

.cta-buttons .btn:hover {
    background-color: #218838;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-decoration: none !important;
    color: white !important;
}

.logo:hover {
    color: #a4e5c5;
}

