.my-account-page {
  padding: 20px;
  margin: 3% auto 6% auto;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #c0c0c0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border-style: solid;
  border-width: 2px;
  border-color: #c0c0c0;
}

.tabs button.active-tab {
  background-color: #007bff !important;
  color: white;
}

.tabs button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #007bff;
  background-color: #c0c0c0;
}

.tab-content {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

button.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.save-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.edit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}
